<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title> Pizza </title>

  <!-- CSS  -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <nav class="grey lighten-2" role="navigation">
   <div class="container">
    <a id="logo-container" href="index.html" class="brand-logo"> <img src="https://68.media.tumblr.com/86fec3d6ac5b834e2357f06c93b11bc7/tumblr_om5p30EHpV1utfncso1_100.png"></a> 
     <ul class="right hide-on-med-and-down">
        <li>
          <nav>
          <div class="nav-wrapper grey lighten-2">
          <form>
          <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center brown-text">Contact us!</h1>
      <br><br>

    </div>
  </div>


  <div class="center-align">
    <div class="section">

      <!--   Icon Section   -->
      
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">mail</i></h2>
            <h5 class="center">GMAIL</h5>

            <p class="light">Email inquiries at:
            kaloypatisoy@gmail.com.</p>
        </div>

        
      </div>

    </div>

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
<br><br>
<br><br>
<br><br>
  <footer class="page-footer grey lighten-2">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
        
  </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
